@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

.top-banner {
    display: flex;
    background-color: #161616;
    color: white;
    border-radius: 30px;
    margin: 50px 140px;
    align-items: flex-end;
}

.half-width1 {
    width: 100%;
    padding: 111px;
    margin-right: 24px;
}

.half-width1 a {
    text-decoration: none;
    background-color: #DD0000;
    color: white;
    border-radius: 5px;
    padding: 16px 25px;
}

.half-width2 {
    width: 100%;
    padding: 33px 80px 0;
}

/* .half-width2 img {
    align-items: flex-end;
} */

.hea h1 {
    font-size: 70px;
}

.fa-angle-right {
    color: white;
}

.body-part {
    display: flex;
}

.button-part {
    border-radius: 10px;
    background-color: #161616;
    height: 312px;
    width: 312px;
    margin-left: 140px;
    margin-right: 24px;
}

.buttons {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 30px;
    padding: 30px;
}

.button {
    height: 64px;
    width: 252px;
    border-radius: 10px;
    font-size: 20px;
}